## Add or Delete key value pair

In [1]:
marks = {'Saqlain': 34,
        'Ali': 43,
        'Huzaifa': 50,
        'Saad': 54,
        'Shahzaib': 54,
        'Abdullah': 65}

In [2]:
marks['Mehmood'] = 57

In [3]:
marks

{'Saqlain': 34,
 'Ali': 43,
 'Huzaifa': 50,
 'Saad': 54,
 'Shahzaib': 54,
 'Abdullah': 65,
 'Mehmood': 57}

In [4]:
del marks['Ali']

In [5]:
marks

{'Saqlain': 34,
 'Huzaifa': 50,
 'Saad': 54,
 'Shahzaib': 54,
 'Abdullah': 65,
 'Mehmood': 57}

In [6]:
marks['Ali'] = 76

In [7]:
marks

{'Saqlain': 34,
 'Huzaifa': 50,
 'Saad': 54,
 'Shahzaib': 54,
 'Abdullah': 65,
 'Mehmood': 57,
 'Ali': 76}

## Tuples

In [27]:
a = (1, 2, 3, 4, 5)
b = (3,)
c = (4)
d = 1, 2, 3, 4, 5

In [28]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'tuple'>
<class 'tuple'>
<class 'int'>
<class 'tuple'>

### Tuples do not encourage change

In [29]:
print(a)

(1, 2, 3, 4, 5)

In [30]:
del a[0]

TypeError: 'tuple' object doesn't support item deletion

In [31]:
a[0] = 7

TypeError: 'tuple' object does not support item assignment

In [32]:
del a

In [33]:
print(a)

NameError: name 'a' is not defined

## Mini project dictionaries and tuple

In [ ]:
# Store marks of students in dictionary

# Ahmad = Science, Arts, Biology, Computer
# 'Ahmad', (34, 56, 76, 67)

In [76]:
data = {}

while True:
    choice = input('Do you want to continue: ')
    if choice in ['no', 'No', 'Not', 'not', 'nope']:
        break
    
    name = input('Enter name of student: ')  # Abdullah
    marks = int(input('Enter marks: '))      # 45

    if name not in data:
        data[name] = (marks,)
       # data['Abdullah'] = (45,)

    elif name in data:
        data[name] = data[name] + (marks,)
    print('\n\n')
    print(data)
    print('\n\n')

print('\n\n\n')
for name, marks in data.items():
    average = sum(marks) / len(marks)
    print('Average of', name, 'is', average)

Do you want to continue:  yes
Enter name of student:  Murtaza
Enter marks:  45

{'Murtaza': (45,)}

Do you want to continue:  yes
Enter name of student:  Ali
Enter marks:  65

{'Murtaza': (45,), 'Ali': (65,)}

Do you want to continue:  yes
Enter name of student:  Usman
Enter marks:  67

{'Murtaza': (45,), 'Ali': (65,), 'Usman': (67,)}

Do you want to continue:  yes
Enter name of student:  Murtaza
Enter marks:  89

{'Murtaza': (45, 89), 'Ali': (65,), 'Usman': (67,)}

Do you want to continue:  yes
Enter name of student:  Bilal
Enter marks:  23

{'Murtaza': (45, 89), 'Ali': (65,), 'Usman': (67,), 'Bilal': (23,)}

Do you want to continue:  yes
Enter name of student:  Saad
Enter marks:  32

{'Murtaza': (45, 89), 'Ali': (65,), 'Usman': (67,), 'Bilal': (23,), 'Saad': (32,)}

Do you want to continue:  Usman
Enter name of student:  56
Enter marks:  34

{'Murtaza': (45, 89), 'Ali': (65,), 'Usman': (67,), 'Bilal': (23,), 'Saad': (32,), '56': (34,)}

Do you want to continue:  yes
Enter name of student:  Usman
Enter marks:  45

{'Murtaza': (45, 89), 'Ali': (65,), 'Usman': (67, 45), 'Bilal': (23,), 'Saad': (32,), '56': (34,)}

Do you want to continue:  Bilal
Enter name of student:  43
Enter marks:  45

{'Murtaza': (45, 89), 'Ali': (65,), 'Usman': (67, 45), 'Bilal': (23,), 'Saad': (32,), '56': (34,), '43': (45,)}

Do you want to continue:  yes
Enter name of student:  Bilal
Enter marks:  34

{'Murtaza': (45, 89), 'Ali': (65,), 'Usman': (67, 45), 'Bilal': (23, 34), 'Saad': (32,), '56': (34,), '43': (45,)}

Do you want to continue:  yes
Enter name of student:  Murtaza
Enter marks:  87

{'Murtaza': (45, 89, 87), 'Ali': (65,), 'Usman': (67, 45), 'Bilal': (23, 34), 'Saad': (32,), '56': (34,), '43': (45,)}

Do you want to continue:  yes
Enter name of student:  Usman
Enter marks:  56

{'Murtaza': (45, 89, 87), 'Ali': (65,), 'Usman': (67, 45, 56), 'Bilal': (23, 34), 'Saad': (32,), '56': (34,), '43': (45,)}

Do you want to continue:  Ali
Enter name of student:  Ali
Enter marks:  43

{'Murtaza': (45, 89, 87), 'Ali': (65, 43), 'Usman': (67, 45, 56), 'Bilal': (23, 34), 'Saad': (32,), '56': (34,), '43': (45,)}

Do you want to continue:  no

Average of Murtaza is 73.66666666666667
Average of Ali is 54.0
Average of Usman is 56.0
Average of Bilal is 28.5
Average of Saad is 32.0
Average of 56 is 34.0
Average of 43 is 45.0

In [73]:
a = {'hamad': (56, 45), 
     'Abdullah': (45, 90, 30), 
     'Ali': (45, 56), 
     'Alian': (89, 90, 100)}

a['Alian']

(89, 90, 100)

In [51]:
average = []
for i in a.values():
    
    length = len(i)
    summ = sum(i)
    average.append(summ / length)


for j in a:
    print(j + ':', average)

hamad: 93.0
Abdullah: 93.0
Ali: 93.0
Alian: 93.0

In [57]:
for i in a:
    name = i
    marks = a[i]
    average = sum(marks) / len(marks)
    print('Average of', name, 'is', average)

Average of hamad is 50.5
Average of Abdullah is 55.0
Average of Ali is 50.5
Average of Alian is 93.0

In [68]:
for i in a.items():
    #print(i)
    name, marks = i
    average = sum(marks) / len(marks)
    print('Average of', name, 'is', average)

Average of hamad is 50.5
Average of Abdullah is 55.0
Average of Ali is 50.5
Average of Alian is 93.0

In [69]:
for name, marks in a.items():
    average = sum(marks) / len(marks)
    print('Average of', name, 'is', average)

Average of hamad is 50.5
Average of Abdullah is 55.0
Average of Ali is 50.5
Average of Alian is 93.0

#### Testing

In [65]:
i = ('Ali', (34,54))

name, marks = i

print(name)
print(marks)

Ali
(34, 54)

In [74]:
for i in a:
    print(i)

hamad
Abdullah
Ali
Alian

In [75]:
for i in a.items():
    print(i)

('hamad', (56, 45))
('Abdullah', (45, 90, 30))
('Ali', (45, 56))
('Alian', (89, 90, 100))