## Built in functions

In [1]:
list(range(1, 20))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [2]:
#range()
#print()
#input()
#len()
#sum()

## Custom functions

In [3]:
num = int(input('Enter a number: '))
for i in range(1, 11):
    print(num, 'X', i, '=', num*i)

Enter a number:  3

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30

In [4]:
def table():
    num = int(input('Enter a number: '))
    for i in range(1, 11):
        print(num, 'X', i, '=', num*i)

In [5]:
table()

Enter a number:  11

11 X 1 = 11
11 X 2 = 22
11 X 3 = 33
11 X 4 = 44
11 X 5 = 55
11 X 6 = 66
11 X 7 = 77
11 X 8 = 88
11 X 9 = 99
11 X 10 = 110

In [6]:
table()

Enter a number:  13

13 X 1 = 13
13 X 2 = 26
13 X 3 = 39
13 X 4 = 52
13 X 5 = 65
13 X 6 = 78
13 X 7 = 91
13 X 8 = 104
13 X 9 = 117
13 X 10 = 130

In [8]:
table()

Enter a number:  15

15 X 1 = 15
15 X 2 = 30
15 X 3 = 45
15 X 4 = 60
15 X 5 = 75
15 X 6 = 90
15 X 7 = 105
15 X 8 = 120
15 X 9 = 135
15 X 10 = 150

In [10]:
def table(num):    # -> Parameter
    for i in range(1, 11):
        print(num, 'X', i, '=', num*i)

In [11]:
table(16)   # -> Argument

16 X 1 = 16
16 X 2 = 32
16 X 3 = 48
16 X 4 = 64
16 X 5 = 80
16 X 6 = 96
16 X 7 = 112
16 X 8 = 128
16 X 9 = 144
16 X 10 = 160

In [12]:
table(14)

14 X 1 = 14
14 X 2 = 28
14 X 3 = 42
14 X 4 = 56
14 X 5 = 70
14 X 6 = 84
14 X 7 = 98
14 X 8 = 112
14 X 9 = 126
14 X 10 = 140

In [13]:
table(21)

21 X 1 = 21
21 X 2 = 42
21 X 3 = 63
21 X 4 = 84
21 X 5 = 105
21 X 6 = 126
21 X 7 = 147
21 X 8 = 168
21 X 9 = 189
21 X 10 = 210

In [14]:
table(25)

25 X 1 = 25
25 X 2 = 50
25 X 3 = 75
25 X 4 = 100
25 X 5 = 125
25 X 6 = 150
25 X 7 = 175
25 X 8 = 200
25 X 9 = 225
25 X 10 = 250

In [15]:
def calculator(num1, num2):
    
    print('SUM:', num1+num2)
    print('Difference:', num1-num2)
    print('PRODUCT:', num1*num2)

In [16]:
calculator(32, 45)

SUM: 77
Difference: -13
PRODUCT: 1440

In [17]:
calculator(3)

TypeError: calculator() missing 1 required positional argument: 'num2'

In [20]:
calculator(num1=34, num2 =43)   # Keyboard arugment

SUM: 77
Difference: -9
PRODUCT: 1462

## Function to calculate average

In [21]:
# MARKS OUT OF: 75

# PARAMETER: obtained marks

# print -> percentage

In [26]:
def percentage(amount):
    total = 75
    percent = (amount / total) * 100
    print(round(percent, 2), '%')

In [27]:
percentage(43)

57.33 %

In [28]:
percentage(67)

89.33 %

In [29]:
list_ = [] 
def schoolmenu(): 
    
    while True: 
        
        print('=============================Menu===========================') 
        print('1 - Addmission of student in school') 
        print('2 - Struck student from school') 
        print('3 - View all students of school') 
        print('4 - Quit from menu\n') 
        
        choice = input('Enter your choice: ') 
        if choice == '1': 
            
            print('\n-----Add student-----\n') 
            name = input('Enter student name: ') 
            list_.append(name) 
            print('\nStudent Added!\n') 
            
        elif choice == '2': 
            print('\n-----Remove student-----\n') 
            name = input('Enter name of student') 
            if name not in list_: 
                print('No student found') 
            else: 
                list_.remove(name) 
                 
                print('\nStudent removed!') 
 
        elif choice == '3': 
             
            print('\n----------Students in school---------') 
             
            for i in list_: 
                print(i) 
                 
        elif choice == '4': 
             
            print('=================Good bye===============') 
            break

In [30]:
schoolmenu()

=============================Menu===========================
1 - Addmission of student in school
2 - Struck student from school
3 - View all students of school
4 - Quit from menu

Enter your choice:  1

-----Add student-----

Enter student name:  ali

Student Added!

=============================Menu===========================
1 - Addmission of student in school
2 - Struck student from school
3 - View all students of school
4 - Quit from menu

Enter your choice:  1

-----Add student-----

Enter student name:  Hamza

Student Added!

=============================Menu===========================
1 - Addmission of student in school
2 - Struck student from school
3 - View all students of school
4 - Quit from menu

Enter your choice:  1

-----Add student-----

Enter student name:  Ali

Student Added!

=============================Menu===========================
1 - Addmission of student in school
2 - Struck student from school
3 - View all students of school
4 - Quit from menu

Enter your choice:  1

-----Add student-----

Enter student name:  Hufaiza

Student Added!

=============================Menu===========================
1 - Addmission of student in school
2 - Struck student from school
3 - View all students of school
4 - Quit from menu

Enter your choice:  3

----------Students in school---------
ali
Hamza
Ali
Hufaiza
=============================Menu===========================
1 - Addmission of student in school
2 - Struck student from school
3 - View all students of school
4 - Quit from menu

Enter your choice:  2

-----Remove student-----

Enter name of student ali

Student removed!
=============================Menu===========================
1 - Addmission of student in school
2 - Struck student from school
3 - View all students of school
4 - Quit from menu

Enter your choice:  3

----------Students in school---------
Hamza
Ali
Hufaiza
=============================Menu===========================
1 - Addmission of student in school
2 - Struck student from school
3 - View all students of school
4 - Quit from menu

Enter your choice:  4

=================Good bye===============

In [32]:
def product(a, b):
    print('Product of two numbers is:')
    print(a * b)

def func(a, b):
    product(a, b)

func(4, 6)

Product of two numbers is:
24

In [40]:
def func():
    global ab
    
    ab = 10  # Global variable 
    ac = 20  # LOCAL VARIABLE
    ad = 30  # LOCAL VARIABLE
    print('Variables defined locally')

In [41]:
func()

Variables defined locally

In [42]:
ab

10

# 11, 7, 2025

In [1]:
def percentage(amount):
    total = 75
    percent = (amount / total) * 100
    print(round(percent, 2), '%')

In [7]:
a = percentage(56)   # -> a stores returned value

74.67 %

In [8]:
print(a)

None

In [18]:
def average(lst):
    average = sum(lst) / len(lst)
    print(average)
    return average

In [19]:
av = average([1,2,3,4,5])

3.0

In [20]:
av

3.0

In [21]:
def check(num):
    if num % 2 == 0:
        return 'even'
    else:
        return 'odd'

In [27]:
a = check(0)

In [28]:
print(a)

even

In [29]:
#34   -> 1 or 34 

#2,  34 % 2 -> remainder
#3,  34 % 3 -> remainder
#4,   .
#5,   .
#.
#.
#33   .

In [30]:
# [2,3,5,6,8,9,2] -> PRIME NUMBER
# [2,3,0,4,5,6,7] -> NOT PRIME NUMBERS

In [40]:
def check_prime(num):
    remainders = []
    for i in range(2, num):
        remainder = num % i
        remainders.append(remainder)
    
    
    if 0 in remainders:
        print(num, ' is Not Prime')
    else:
        print(num, ' is Prime')

In [42]:
#34 - 55
for i in range(2, 56):
    check_prime(i)

2  is Prime
3  is Prime
4  is Not Prime
5  is Prime
6  is Not Prime
7  is Prime
8  is Not Prime
9  is Not Prime
10  is Not Prime
11  is Prime
12  is Not Prime
13  is Prime
14  is Not Prime
15  is Not Prime
16  is Not Prime
17  is Prime
18  is Not Prime
19  is Prime
20  is Not Prime
21  is Not Prime
22  is Not Prime
23  is Prime
24  is Not Prime
25  is Not Prime
26  is Not Prime
27  is Not Prime
28  is Not Prime
29  is Prime
30  is Not Prime
31  is Prime
32  is Not Prime
33  is Not Prime
34  is Not Prime
35  is Not Prime
36  is Not Prime
37  is Prime
38  is Not Prime
39  is Not Prime
40  is Not Prime
41  is Prime
42  is Not Prime
43  is Prime
44  is Not Prime
45  is Not Prime
46  is Not Prime
47  is Prime
48  is Not Prime
49  is Not Prime
50  is Not Prime
51  is Not Prime
52  is Not Prime
53  is Prime
54  is Not Prime
55  is Not Prime

In [43]:
a = [3,3,4,4,4,5,6,6,6,7,8,8,9,10,10]

In [46]:
def remove_dup(lst):
    refined_list = []
    
    for i in lst:
        if i not in refined_list:
            refined_list.append(i)
        else:
            continue

    return refined_list

In [47]:
remove_dup(a)

[3, 4, 5, 6, 7, 8, 9, 10]

In [48]:
def form():
    name = input('Enter your name:')
    age = input('Enter your age:')
    address = input('Enter your address:')
    hobby = input('Enter your hobby:')
    profession  = input('Enter your profession:')
    sports = input('Enter your sports:')

    return (name, age, address, hobby, profession, sports)

In [51]:
all_users = []

while True:
    print('1 - Do you want to register new user?')
    print('2 - Exit')
    
    choice = input('Enter your choice: ')
    
    if choice == '1':
        new_user = form()
        all_users.append(new_user)
        print('\n\n\n')
        
    elif choice == '2':
        print('Good bye')
        break

1 - Do you want to register new user?
2 - Exit

Enter your choice:  1
Enter your name: Ahmad
Enter your age: 23
Enter your address: Lahore, Johar town
Enter your hobby: Gardening
Enter your profession: Agriculture
Enter your sports:

1 - Do you want to register new user?
2 - Exit

Enter your choice:  1
Enter your name: Bilal
Enter your age: 45
Enter your address: Lahore
Enter your hobby: reading
Enter your profession: IT
Enter your sports: Cricket

1 - Do you want to register new user?
2 - Exit

Enter your choice:  2

Good bye

In [52]:
all_users

[('Ahmad', '23', 'Lahore, Johar town', 'Gardening', 'Agriculture', ''),
 ('Bilal', '45', 'Lahore', 'reading', 'IT', 'Cricket')]

In [57]:
for i in all_users:
    print('==========')
    for j in i:
        print(j)

==========
Ahmad
23
Lahore, Johar town
Gardening
Agriculture

==========
Bilal
45
Lahore
reading
IT
Cricket